.staff-notes {
  width: 100%;
}

.staff-row {
  min-height: 1em;
}

.staff-col {
  flex-grow: 1;
  text-align: center;
}

.note {
  background-image: url('../../images/musical-note.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.strikethrough {
  background: repeating-linear-gradient(180deg, black 0%, black 100%);
  background-size: 100% 2px;
  background-position: center;
  background-repeat: no-repeat;
}

.cursor {
  background: linear-gradient(
    rgba(128, 128, 128, 0.4),
    rgba(128, 128, 128, 0.4)
  );
  background-size: 2px 100%;
  background-position: center;
  background-repeat: no-repeat;
}
