.notes-container {
  display: flex;
  flex-direction: column;
}

.staff {
  display: flex;
  align-items: center;
}

.treble-clef {
  width: 100px;
  text-align: center;
}

.bass-clef {
  width: 100px;
  text-align: center;
}

.bass-clef > img {
  width: 60%;
}

.command-line {
  text-align: center;
  text-transform: uppercase;
}

.command-line::placeholder {
  text-transform: none;
}

.command-line:focus::placeholder {
  color: transparent;
}
