#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Chopin-Script';
  src: local('Chopin-Script'),
    url(./fonts/chopin-script.regular.ttf) format('truetype');
}
